@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
* {
    margin: 0;
}
body {
    height: 100vh;
    background-color: #f9fafc;
}
header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: left;
    box-sizing: border-box;
    padding: 20px;
}
#chirpus-inc {

}
ul {
    list-style: none;
}
#nav {

}
#nav li {


}
p {
    color: #fff;
    background-color: #000;
    text-align: center;
}
h1 {

}
h2 {

}
footer {
    background-color: rgba(247, 193, 162, 0.7);
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    position: fixed;
}
h3 {
    margin-left: 20px;
}
#footer-nav {
    align-items: flex-end;
    padding-left: 1000px;
}
#footer-nav li {
    text-decoration: none;
    display: inline;
    justify-content: space-between;
    align-items: flex-end;
}
@media only screen and (min-width:768px) {

}

