style {
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
}
* {
    margin: 0;
}
body {
    height: 100vh;
    background-color: #f9fafc;
}
header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: left;
    box-sizing: border-box;
    padding: 20px;
}
#chirpus-inc {
    margin-left: 0;
    
}
ul {
    list-style: none;
    padding: 0;
}
#nav {

}
#nav li {
    margin-top: 10px;

}
p {
    color: #fff;
    background-color: #000;
    text-align: center;
    border-radius: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    
}
h1 {
    margin-left: 20px;
    margin-top: 10px;
}
h2 {
    border-left: 2px solid #69696a;
    margin-left: 20px;
    padding-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #69696a;
    font-size: 12pt;
    font-weight: normal;
}
footer {
    background-color: rgba(247, 193, 162, 0.7);
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    position: fixed;
    align-items: baseline;

}
h3 {
    margin-left: 20px;
}
#footer-nav {
    align-items: flex-end;
    padding-left: 1000px;
}
#footer-nav li {
    text-decoration: none;
    color: #69696a;
    display: inline;
    justify-content: space-between;
    align-items: flex-end;
}
@media only screen and (min-width:768px) {

}

